<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="text-center" >{{ subtitle }}</h2>
      <ol>
        <div class="card">
          <li *ngFor="let quote of listOfQuotes; let k = index">
            <h3 appQuoteHighlighter> {{ quote.quoteTitle | titlecase }}</h3>
            <button id="showDetailButton" class="btn btn-success " (click)="showInfo(k)">Quote Details</button><br />
            <hr>
            {{ quote.describe }}
            <app-quote-detail
              *ngIf="quote.showInformation"
              [quote]="quote"
              (deleteThis)="deleteMe($event, k)"
            ></app-quote-detail>
            <br><hr>
          </li>
        </div>
      </ol>
    </div>
    <div class="col-sm-6">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    <app-footer></app-footer>
  </div>
</div>
